# IFLearner file
log
doc/build
doc/docs/api/reference
dist
build
iflearner.egg-info
examples/homo/**/data
examples/homo/**/t10*
examples/homo/**/train-*
data
examples/homo/**/client*
iflearner/business/util/client*
.ipynb_checkpoints
*.log

# macOS
.DS_Store

# Editor
.vscode
.idea

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]
*$py.class